In [1]:
import pandas as pd

In [17]:
df_train = pd.read_csv('../input/train_data.csv')
df_test = pd.read_csv('../input/test_a.csv')
df = pd.concat([df_train, df_test], sort=False, axis=0, ignore_index=True)

In [20]:
df['area_comm']=df.apply(lambda row:str(row.area)+row.communityName,axis=1)
df['area_comm'].value_counts()[:10]

59.7XQ01274     27
39.0XQ02441     27
56.0XQ00313     27
37.0XQ03110     27
83.0XQ00826     23
90.0XQ02219     22
122.0XQ00826    22
65.24XQ01371    21
89.0XQ00826     20
54.0XQ03336     19
Name: area_comm, dtype: int64

In [21]:
print(df[df['area_comm']=='59.7XQ01274']['tradeMoney'])

172      3200.0
184      3500.0
2145     3500.0
4578     3400.0
6353     3600.0
8426     4190.0
8450     3600.0
10623    3100.0
11129    3400.0
11156    3600.0
11327    2500.0
11344    3400.0
11665    3400.0
12085    3200.0
12239    3790.0
12546    3730.0
12763    3600.0
14458    3500.0
15303    3700.0
15310    3800.0
16338    3800.0
17132    3500.0
17935    4000.0
18461    3300.0
19212    3400.0
20016    3300.0
38164    3500.0
Name: tradeMoney, dtype: float64

In [23]:
print(df[df['area_comm']=='39.0XQ02441']['tradeMoney'])

1999     1150.0
4063     1300.0
7290     1000.0
7406     1300.0
7841     1200.0
8285     1300.0
8972     1200.0
9512     1100.0
9826     1370.0
9834     1100.0
10719    1300.0
39483    1200.0
39492    1200.0
39505    1200.0
39553    1100.0
39601    1100.0
39613    1150.0
39642    1000.0
39643    1150.0
39670    1200.0
39671    1100.0
39702    1100.0
39793    1100.0
39794    1200.0
39795    1100.0
39796    1150.0
39929    1100.0
Name: tradeMoney, dtype: float64

In [26]:
df['filter_rule']=df.apply(lambda row:str(row.area)+
                           row.communityName+
#                            row.rentType+
                           row.houseType+str(row.houseFloor)+
                           str(row.totalFloor)+
                           row.houseToward+
                           row.houseDecoration,
                           axis=1)

In [28]:
df['filter_rule'].value_counts()[:100]

41.52XQ019701室1厅1卫高6南其他     11
88.3XQ031412室2厅1卫中11南其他      9
31.0XQ031101室1厅1卫中21南其他      9
42.23XQ001961室1厅1卫高6南其他      8
39.0XQ024411室1厅1卫中21北其他      8
63.92XQ001332室1厅1卫中5南其他      8
11.6XQ032813室1厅1卫高18南精装      7
41.91XQ013601室1厅1卫中19北其他     7
38.19XQ035761室1厅1卫高6南其他      6
12.3XQ005303室1厅1卫高16南精装      6
88.0XQ010802室2厅1卫高20南其他      6
79.0XQ005882室1厅1卫中11南其他      6
13.7XQ005304室1厅1卫低16南精装      6
41.76XQ015611室1厅1卫中6南其他      6
56.42XQ017631室1厅1卫低17南精装     5
37.0XQ031102室1厅1卫高16北其他      5
73.34XQ011672室1厅1卫高6南其他      5
49.76XQ017981室1厅1卫中17南其他     5
78.66XQ001283室2厅1卫中5南其他      5
64.77XQ013911室2厅1卫中16南其他     5
50.14XQ019711室1厅1卫中8南其他      5
41.91XQ013601室1厅1卫低19北其他     5
40.42XQ036361室1厅1卫中7南其他      5
51.0XQ020231室1厅1卫低14南其他      5
59.7XQ012741室1厅1卫低18南其他      5
47.7XQ007641室1厅1卫高6南其他       5
37.75XQ035211室1厅1卫高6南其他      5
56.0XQ003131室1厅1卫中19南其他      5
59.13XQ012321室1厅1卫中19南其他     5
70.0XQ038342室1厅1卫高18南其他      5
                            ..
56.0XQ024412室1厅1卫中21南其他      4
87.16XQ004942室2厅1卫高20南其他     4
88.0XQ002352室2厅1卫高18南其他      4
9.7XQ032973室1厅1卫高18南精装       4
44.07XQ036351室1厅1卫中7南其他      4
45.84XQ013131室1厅1卫中5南其他      4
122.0XQ008263室2厅2卫中24南其他     4
42.0XQ024411室1厅1卫中21南其他      4
30.0XQ014401室1厅1卫低15南精装      4
39.98XQ016421室1厅1卫中29东其他     4
54.0XQ033361室1厅1卫中16南其他      4
56.06XQ033641室1厅1卫中11南其他     4
98.0XQ031882室2厅1卫中18南其他      4
78.65XQ030772室2厅1卫高18南其他     4
90.08XQ016062室2厅1卫低18南其他     4
82.69XQ019902室2厅1卫中17南其他     4
36.79XQ007871室1厅1卫高6南其他      4
39.33XQ002101室1厅1卫中5南其他      4
9.8XQ032813室1厅1卫高18南精装       4
59.0XQ031612室1厅1卫高6南其他       4
50.0XQ031101室1厅1卫中24南其他      4
14.6XQ005304室1厅1卫高16南精装      4
57.71XQ016041室1厅1卫中9南其他      3
89.0XQ008263室1厅1卫中22南其他      3
48.01XQ001861室1厅1卫低6南其他      3
44.89XQ024502室1厅1卫高25东其他     3
40.0XQ034951室1厅1卫中6南其他       3
59.98XQ033281室1厅1卫中6南其他      3
47.99XQ031571室1厅1卫中6南其他      3
40.45XQ023371室1厅1卫中5南其他      3
Name: filter_rule, Length: 100, dtype: int64

In [32]:
df[df['filter_rule']=='88.3XQ031412室2厅1卫中11南其他']['tradeMoney']

7000     5200.0
20354    5500.0
23729    5100.0
26120    5000.0
27186    4583.0
28349    5100.0
30399    4600.0
32538    5200.0
33534    5400.0
Name: tradeMoney, dtype: float64