In [12]:
import pandas as pd

In [14]:
df_train = pd.read_csv('../input/train_data.csv')
df_test = pd.read_csv('../input/test_a.csv')
df = pd.concat([df_train, df_test], sort=False, axis=0, ignore_index=True)

In [15]:
df['area']=round(df['area'])

In [16]:
df['area_comm']=df.apply(lambda row:str(row.area)+row.communityName,axis=1)
df['area_comm'].value_counts()[:10]

60.0XQ01274    69
48.0XQ02273    41
90.0XQ01274    39
72.0XQ01540    38
12.0XQ00530    35
83.0XQ00826    31
37.0XQ02273    30
56.0XQ00313    30
43.0XQ02072    30
39.0XQ02441    30
Name: area_comm, dtype: int64

In [17]:
print(df[df['area_comm']=='59.7XQ01274']['tradeMoney'])

Series([], Name: tradeMoney, dtype: float64)

In [7]:
print(df[df['area_comm']=='39.0XQ02441']['tradeMoney'])

1999     1150.0
4063     1300.0
7290     1000.0
7406     1300.0
7841     1200.0
8285     1300.0
8972     1200.0
9512     1100.0
9826     1370.0
9834     1100.0
10719    1300.0
39483    1200.0
39492    1200.0
39505    1200.0
39553    1100.0
39601    1100.0
39613    1150.0
39642    1000.0
39643    1150.0
39670    1200.0
39671    1100.0
39702    1100.0
39793    1100.0
39794    1200.0
39795    1100.0
39796    1150.0
39929    1100.0
Name: tradeMoney, dtype: float64

In [18]:
df['filter_rule']=df.apply(lambda row:str(row.area)+
                           row.communityName+
#                            row.rentType+
                           row.houseType+str(row.houseFloor)+
                           str(row.totalFloor)+
                           row.houseToward+
                           row.houseDecoration,
                           axis=1)

In [19]:
df['filter_rule'].value_counts()[:100]

12.0XQ005303室1厅1卫高16南精装     15
72.0XQ015402室2厅1卫低6南其他      14
67.0XQ017981室2厅1卫中17南其他     12
48.0XQ022731室1厅1卫高6南其他      12
42.0XQ001961室1厅1卫高6南其他      11
60.0XQ012741室1厅1卫中18南其他     11
42.0XQ019701室1厅1卫高6南其他      11
48.0XQ022731室1厅1卫中6南其他      10
64.0XQ001332室1厅1卫中5南其他      10
88.0XQ031412室2厅1卫中11南其他     10
43.0XQ020721室1厅1卫高6南其他      10
70.0XQ022732室1厅1卫高6南其他       9
31.0XQ031101室1厅1卫中21南其他      9
43.0XQ020721室1厅1卫中6南其他       9
44.0XQ036351室1厅1卫中7南其他       9
10.0XQ032813室1厅1卫高18南精装      9
72.0XQ015402室2厅1卫高6南其他       9
72.0XQ015402室2厅1卫中6南其他       9
12.0XQ032813室1厅1卫高18南精装      8
44.0XQ015091室1厅1卫中14南其他      8
42.0XQ013601室1厅1卫低19北其他      8
58.0XQ013391室1厅1卫中14南其他      8
39.0XQ024411室1厅1卫中21北其他      8
79.0XQ001283室2厅1卫中5南其他       8
42.0XQ013601室1厅1卫中19北其他      8
12.0XQ005303室1厅1卫中16南精装      8
49.0XQ015611室1厅1卫中6南其他       8
60.0XQ012741室1厅1卫低18南其他      7
38.0XQ035211室1厅1卫高6南其他       7
42.0XQ001961室1厅1卫中6南其他       7
                            ..
53.0XQ016011室1厅1卫中7南其他       5
42.0XQ020721室1厅1卫中6南其他       5
37.0XQ031102室1厅1卫高16北其他      5
58.0XQ007061室1厅1卫高15南其他      5
55.0XQ031221室1厅1卫中11南其他      5
55.0XQ008521室1厅1卫中11南其他      5
73.0XQ011672室1厅1卫高6南其他       5
60.0XQ012741室1厅1卫中14南其他      5
54.0XQ010581室1厅1卫高14南其他      5
56.0XQ008521室1厅1卫中11南其他      5
70.0XQ038342室1厅1卫高18南其他      5
13.0XQ005303室1厅1卫高16南精装      5
90.0XQ012742室2厅1卫中18南其他      5
70.0XQ022732室1厅1卫低6南其他       5
52.0XQ001712室1厅1卫高6南其他       5
80.0XQ032362室2厅1卫中18南其他      5
47.0XQ012321室0厅1卫中19南其他      5
32.0XQ028331室1厅1卫高6南其他       5
30.0XQ028331室0厅1卫高6南其他       5
10.0XQ032813室1厅1卫中18南精装      5
75.0XQ015612室1厅1卫高6南其他       5
37.0XQ022731室0厅1卫中6南其他       5
46.0XQ008301室1厅1卫高6南其他       5
103.0XQ007433室2厅1卫低18南其他     5
50.0XQ031101室1厅1卫中24南其他      5
87.0XQ004942室2厅1卫中20南其他      5
53.0XQ001331室1厅1卫中4南其他       5
77.0XQ005062室2厅1卫高6南其他       5
63.0XQ007411室2厅1卫中20南其他      5
60.0XQ001281室1厅1卫高5南其他       5
Name: filter_rule, Length: 100, dtype: int64

In [22]:
df[df['filter_rule']=='88.0XQ031412室2厅1卫中11南其他']['tradeMoney']

7000     5200.0
20354    5500.0
23729    5100.0
26120    5000.0
27186    4583.0
28349    5100.0
30399    4600.0
32538    5200.0
32597    5700.0
33534    5400.0
Name: tradeMoney, dtype: float64